{% meta %}
  titulo: Noticias
{% endmeta %}

{% block content %}
  <div id="tumblr-news"></div>

  <a class="pure-button" href="http://russittoblog.tumblr.com/" target="_blank">Mas noticias</a>
  <a class="pure-button" href="{{ url_for("/noticias_viejas") }}">Noticias viejas</a>

  <p> </p>

  <a class="twitter-timeline"  href="https://twitter.com/mrussitto"  data-widget-id="408996946888507394">Mis tweets</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <p> </p>
{% endblock %}
