{% extends "_base.html" %}

{% block content %}
<div class="posts pure-g">
  <div class="post pure-u-1">
    <h1 class="content-subhead pure-u-1">
      <span class="author">{{ site.autor }}</span>
      <span class="date">@{{ entry.date.strftime('%d/%m/%Y') }}</span>
    </h1>
    <header class="post-header">
      <h2 class="post-title pure-u-1">
        <a href="{{ entry.get_url() }}">{{ entry.titulo }}</a>
      </h2>
    </header>
    <div class="post-description pure-u-1">
      {% for tag in entry.tags -%}
        <a class="post-category post-category-{{ tag }}"
         href="{{ site.tag_cache.get(tag).get_url() }}">{{ tag }}</a>&nbsp;
      {%- endfor %}
    </div>
    {{ entry.body }}
  </div>
  <div id="disqus_thread">
    <input type="hidden" id="url_id" value="{{ entry.date.strftime('%Y-%m-%d') }}-{{ entry.slug }}" />
  </div>
</div>
{% endblock %}
