body {
  font-family: 'Droid Serif', serif;
  background: #3E3E39;
  margin: 0 auto;
  width: 540px;
  color: #6ACECF;
}

#main-title {
  font-size: 32pt;
  text-decoration: none;
}
  #main-title:hover {
    background: #B6DDA4;
  }

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}

p {
  padding: 8px 24px;
  line-height: 180%;
  font-size: 90%;
  color: #F6F6EF;
}

a:link {
  color: #B6DDA4;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #A7A18D;
  text-decoration: none;
}
a:active {
  color: #F6F6EF;
  font-style: italic;
}

.navbar {
  margin-bottom: 20pt;
}

ul.nav {
  list-style-type: none;
  font-size: 90%;
}
  ul.nav li {
    display: inline;
  }
    ul.nav li a {
      text-decoration: none;
    }
      ul.nav li a:hover {
        background: #B6DDA4;
      }

#al-tope {
  margin-top: 10pt;
  font-style: italic;
  font-size: 80%;
  text-align: right;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  #sidebar ul li.nav-header {
    margin: 8pt 0 6pt 0;
  }
  #sidebar ul li.nav-item {
    margin-left: 8pt;
    font-size: 80%;
    font-style: italic;
  }
/*
colors: http://www.colourlovers.com/palette/1369199/Calm_Visual
  white:      #F6F6EF
  green:      #B6DDA4
  lightblue:  #6ACECF
  lightgrey:  #A7A18D
  grey:       #3E3E39
vim:set ts=2 sw=2 et:
*/
