* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #bbb;
  background: #222;
}

a {
  text-decoration: none;
  color: #1E8BD4;
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* LAYOUT CSS */
#layout {
  padding-left: 25%; /* "left col (nav + list)" width */
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 25%;
  margin-left: -25%;
  background: #061c2b;
  color: #fff;
}

.header {
  margin: 4% 2em 0;
  text-align: right;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  /*text-transform: uppercase;*/
  font-size: 3em;
}
.brand-tagline {
  font-weight: 300;
  color: #24A7FF;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item a {
  margin: 0.5em 0;
}
.nav-item a:hover,
.nav-item a:focus {
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 3em 0;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 2em;
  color: #1E8BD4;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #bbb;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
  .post-category-framework {
    background: #5aba59;
  }
  .post-category-php {
    background: #4d85d1;
  }
  .post-category-web {
    background: #8156a7;
  }
  .post-category-linux {
    background: #df2d4f;
  }
  .post-category:hover {
    background: #1E8BD4;
    text-decoration: none;
  }

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 1em 0;
  /*background: #555;*/
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

.pure-button-secondary {
  background: #11527D;
  color: #ddd;
}

.pure-menu.pure-menu-open {
  background: none;
}

blockquote {
  font-style: italic;
  font-size: 85%;
}

#myTumblrContainer img {
  margin-top: .5em;
  vertical-align: top;
}

.twitter-timeline-rendered {
  width: 100%;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    position: relative;
    margin: 0;
  }

  .header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    position: static;
  }

  #layout {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 2em 1em 0;
  }
}

/*
vim:set ts=2 sw=2 et:
*/
