/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 20px 0px 0px 0px;
	padding: 0;
	background: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #eee;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FF3000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: underline;
	color: #EB1D1D;
}

a:hover {
	text-decoration: none;
}

div.entry a, #sidebar a {
  font-weight: bold;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	overflow: hidden;
	width: 1000px;
	height: 50px;
	margin: 0px auto 20px auto;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 2.8em;
	color: #0C0C0C;
}

#logo h1 a {
	color: #0C0C0C;
}

#logo h1 span {
	color: #EB1D1D;
}

#logo h1 a:hover {
	color: #888;
}

#logo h1 span:hover {
	color: #ecb;
}


#logo p {
	margin: -5px 0px 0px 0px;
	padding: 0px 0 0 px;
	text-transform: lowercase;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #45302C;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #45302C;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 40px;
	padding: 0px 0px 0px 0px;
}

#search form {
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	height: 19px;
	margin-right: 10px;
	padding: 4px 5px 1px 5px;
	border: none;
	background: #888;
	text-transform: lowercase;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #181818;
}

#search-submit {
	width: 45px;
	height: 26px;
	border: none;
	background: none;
	text-indent: -9999px;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	width: 700px;
}

#menu ul {
	margin: 0px;
	padding: 0px 0px 0px 15px;
	list-style: none;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 37px;
	padding: 13px 30px 0px 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0C0C0C;
}

#menu a:hover, #menu .current_page_item a {
	background: #EB1D1D;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 40px 0px 0px 0px;
	border-top: 1px solid #BBBBBB;
}

#page-bgtop {
}
/* Content */

#content {
	float: left;
	width: 660px;
	padding: 0px 0px 0px 0px;
	background: #444;
}

.post {
	margin-bottom: 30px;
	padding: 0px 0px;
}

.post .title {
	height: 41px;
	padding: 0px 0px 0px 0px;
}

.post .title a {
	letter-spacing: -2px;
	text-decoration: none;
	text-transform: lowercase;
	color: #181818;
	border: none;
}

.post .title a:hover {
	color: #aaa;
}

.post .entry {
	padding: 10px 0px 20px 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BBBBBB;
	text-align: justify;
}

.post .entry.last {
	border-bottom: 0;
}

.post .meta {
	overflow: hidden;
	padding-top: 10px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0px 0px 0px 20px;
	padding: 0;
}

#sidebar li ul {
	margin: 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px solid #BBBBBB;
	border-left: none;
	text-align: left;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
}

#sidebar h2 {
	height: 30px;
	margin: 0px 0px 20px 0px;
	padding: 4px 0px 0px 20px;
	text-align: left;
	letter-spacing: -2px;
	font-size: 2em;
	color: #181818;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	border-top: 1px solid #BBBBBB;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding: 20px 0px 0px 30px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #181818;
}

#footer a {
	color: #888;
}

#ushcompu li a {
  font-size: 12px;
}

