<div class="pure-g-r" id="layout">
  <div class="sidebar pure-u">
    <header class="header pure-u-1">
      <hgroup>
        <h1 class="brand-title">{{ site.titulo }}</h1>
        <h2 class="brand-tagline">Programador</h2>
      </hgroup>

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="pure-button{% if entry.inicio  %} pure-button-primary{% endif %}" href="{{ url_for("/") }}#TOPE">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="pure-button{% if not entry.inicio  %} pure-button-primary{% endif %}" href="{{ url_for("/noticias") }}">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="mailto:matias[en]russitto[punto]com">Email</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="https://bitbucket.org/russitto"
             >Bitbucket</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="https://twitter.com/mrussitto"
             >Twitter</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="http://gitorious.org/~totoloco"
             >Gitorious</a>
          </li>
          <li><a href="{{ url_for("/") }}#quien">[¿Quién soy?]</a></li>
          <li><a href="{{ url_for("/") }}#trabajo">[¿De qué trabajo?]</a></li>
          <li><a href="{{ url_for("/") }}#gustos">[¿Qué me gusta?]</a></li>
        </ul>
        <div id="myTumblrContainer"></div>
      </nav>
    </header>
  </div>
