<div id="sidebar">
  <ul class="nav-list">
    <li class="nav-header">Noticias</li>
      {% for post in site.posts[:5] %}
        <li class="nav-item">
          <a href="{{ post.get_url() }}" title="{{ post.titulo }} @ {{ post.date.strftime('%d/%m/%Y') }}"
           >{{ post.titulo }}</a>
        </li>
      {% endfor %}
        <li class="nav-item"><a href="{{ url_for("noticias") }}">[mas noticias]</a></li>
    <li class="nav-header">Enlaces</li>
        {% for enlace in site.enlaces_urls %}
          <li class="nav-item"><a href="{{ enlace }}">{{ site.enlaces_nombres[loop.index0] }}</a></li>
        {% endfor %}
    <li class="nav-header">Identi.ca</li>
    <div id="identica">
      <li class="nav-header"><a href="http://identi.ca/ushcompu/all">identi.ca/ushcompu/all</a></li>
      <div>
        <img src="{{ url_for("static/img/loading.gif") }}" alt="cargando" />
      </div>
    </div>
    <li class="nav-header">Gracias</li>
        <li class="nav-item"><a href="#tope">por leer todo esto</a></li>
  </ul>
</div>
<a name="noticias" id="noticias"></a>
